[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pbr = "*"
pytest = "==3.4.2"
pytest-cov = "*"
redislite = "*"
"flake8" = "*"
tox = "*"

[packages]
redis = "*"
python-redis-lock = "*"
decorator = "*"

[requires]
python_version = "2.7"
